@font-face {
    font-family: mifuente;
    src: url(fonts/BungeeShade-Regular.ttf);
}
@font-face {
    font-family: mifuente2;
    src: url(fonts/PathwayExtreme-Italic-VariableFont_opsz\,wdth\,wght.ttf);
}

body
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 100;
}
 
 form
 {
    background-color: #e3942cd8;
 }

 #titulo{
    text-align: center;
    font-family: mifuente;
 }

 form{
    font-family: mifuente2;
 }

p{
    font-family: mifuente2;
}